---
---
@import "style";

.profile {
  overflow: hidden;
}

.profile-picture {
  float: right;
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 30px;
  margin-bottom: 10px;
}