---
---
@import "style";

.profile {
  display: flex;
  align-items: center;   // 텍스트 시작선과 수직 정렬 맞춤
  gap: 24px;
}

.profile-text {
  flex: 1;
}

.profile-image img {
  width: 180px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}
